#TableOfContents {
  font-size: 0.7rem;
  letter-spacing: .01em;
}

#TableOfContents ul li a {
  font-weight: 400;
  color: #86868b;
}

#TableOfContents ul li a.active {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}